.board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    gap: 20px;
}


.row-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    min-width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.black-square {
    background-color: #739552
}

.white-square {
    background-color: #ebecd0
}

.piece {
    cursor: pointer;
    backdrop-filter: blur(5px) brightness(0.9);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece-span {
    font-size: 80px;
}

.white-piece {
    color: #f9f9f9;
}

.black-piece {
    color: #474543;
}

.color-red {
    font-size: 50px;
    color: red;
}

.hidden {
    display: none;
}

.renderTurn-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
    height: 673px;
}

.rotate-white {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.rotate-black {
    transition-duration: 0.5s;
}

.row-span {
    font-size: 18px;
}

.column-span {
    font-size: 18px;
}